# Ignore dataset files
*.csv

# Ignore virtual environment
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Dataset files
*.csv
*.xlsx

# Numpy embeddings
*.npy

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
env/